
<!-- FOOTER -->
<footer id="footer">
    <div class="container">

        <div class="row">
            
            <div class="col-md-8">
                <h3 class="letter-spacing-2">Why Us?</h3>
                <p>
                    We have a passion for what we do. We take pride in the craftsmanship of our work. Our goal is client satisfaction with solutions that meet business objectives with comprehensive solutions, and elegant code.
                </p>

                <hr />

                <!-- Social Icons -->
                <div class="mt-20">
                        <a href="#" class="social-icon social-icon-border social-github float-left" data-toggle="tooltip" data-placement="top" title="github">
    
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>
    
                        <a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
    
                        <a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
    
                        <a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
    
                        <a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss">
                            <i class="icon-rss"></i>
                            <i class="icon-rss"></i>
                        </a>
            
                    </div>
                    <!-- /Social Icons -->
            </div>

            <div class="col-md-4">
                <!-- Footer Logo -->
                <img class="footer-logo" src="assets/images/_smarty/logo-footer.png" alt="" />

                <!-- Small Description -->

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                <li><h2 class="letter-spacing-1">Come Get Your Fix!</h2></li>
                        <li class="footer-sprite phone">
                            Phone: 1-360-918-6978
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->
            </div>
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            &copy; Crema Development LLC
        </div>
    </div>
</footer>
<!-- /FOOTER -->