<section>
  <div class="container">

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
    
    <div class="divider divider-center divider-color"><!-- divider -->
      <i class="fa fa-chevron-down"></i>
    </div>

    <!-- FEATURED BOXES 3 -->
    <div class="row">

      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-circle-compass"></i>
          <h4>Web Design</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-piechart"></i>
          <h4>Web Analytics</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-strategy"></i>
          <h4>Development</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-streetsign"></i>
          <h4>Marketing</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-trophy"></i>
          <h4>Sales Booster</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-tools"></i>
          <h4>Design</h4>
          <p class="font-lato size-20">Donec id elit non mi porta gravida.</p>
        </div>
      </div>

    </div>
    <!-- /FEATURED BOXES 3 -->

  </div>
</section>