<section class="page-header page-header-lg parallax parallax-3" style="background-image:url('{{ "/assets/images/pictures/34-min.jpg" | prepend: site.baseurl }}')">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container text-center">

    </div>

</section>

<section id="services">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>Services</h2>
            <p class="lead font-lato">Solutions through software</p>
            <hr>
        </header>

        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover et-circle-compass"></i>
                    <h4>Custom Software Solutions</h4>
                    <p class="font-lato fs-20">Applications built for your business, tailored to your specific business needs, in order to meet your intended goals and objectives.</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover et-piechart"></i>
                    <h4>Project Management</h4>
                    <p class="font-lato fs-20">Direction through all phases of an IT project with skill and efficiency to achieve all determined goals within the specified time frame.</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover et-streetsign"></i>
                    <h4>IT Staffing</h4>
                    <p class="font-lato fs-20">Provision of highly qualified consultants to complete the project and equip your team with the skills necessary to thrive long after project completion.</p>
                </div>
            </div>
        </div>

    </div>
</section>
