<section id="about">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>We Are Crema</h2>
            <p class="lead font-lato">Solutions through software</p>
            <hr>
        </header>

        <div class="row">

            <div class="col-sm-6">
                <img class="img-responsive" src="assets/images/laptop.png" alt="">  
            </div>

            <div class="col-sm-6">
                <p class="dropcap">Crema Development is a full-service software development company committed to providing quality, value-added software solutions for all business types.  Our goal is client satisfaction with solutions that meet business objectives with a comprehensive process and elegant code.</p>

                <hr>

                <div class="row countTo-sm text-center">

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-users size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#59BA41">1303</span>
                        <h6>HAPPY CLIENTS</h6>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-briefcase size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#774F38">56000</span>
                        <h6>FINISHED PROJECTS</h6>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-twitter size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#C02942">4897</span>
                        <h6>TWITTER FOLLOWERS</h6>
                    </div>

                </div>

            </div>

        </div>


    </div>
</section>