<section class="callout-dark heading-title heading-arrow-bottom" style="z-index:100;">
    <div class="container">

        <blockquote class="quote reverse">
                <h3 class="fs-30">We can't solve problems by using the same kind of thinking we used when we created them.</h3>
                <cite>Albert Einstein</cite>
        </blockquote>

    </div>
</section>
<section id="about">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>We Are Crema</h2>
            <p class="lead font-lato">Solutions through software</p>
            <hr>
        </header>

        <div class="row">

            <div class="col-sm-6">
                <img class="img-responsive" src="{{ "/assets/images/laptop.png" | prepend: site.baseurl }}" alt="">  
            </div>

            <div class="col-sm-6">
                <p class="dropcap">Crema Development is a full-service software development company committed to providing quality, value-added software solutions for all business types.  Our goal is client satisfaction with solutions that meet business objectives with a comprehensive process and elegant code.</p>

                <hr>

                <div class="row countTo-sm text-center">

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-file-text-o size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#C02942">136875</span>
                        <h6>Lines of Code</h6>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-black-tie size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#59BA41">97</span>
                        <h6>Ties</h6>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <i class="fa fa-coffee size-20"></i> &nbsp; 
                        <span class="countTo" data-speed="3000" style="color:#774F38">16425</span>
                        <h6>Cups of Coffee</h6>
                    </div>

                </div>

            </div>

        </div>


    </div>
</section>