<!DOCTYPE html>
<html lang="en-us">

    {% include head.html %}

    <body class="smoothscroll enable-animation">

        <div id="wrapper">

            <div id="header">
                [BUTTONS]
                [LOGO]
                [NAV_MAIN]
            </div>
 
            <section>
                [SECTION_1]
            </section>

            <section>
                [SECTION_N]
            </section>
 
        </div>
  
 
        <!-- FOOTER -->
        <footer id="footer">
            Footer Here!
        </footer>
        <!-- /FOOTER -->
 
        {% include footer_javascript.html %}
 
    </body>
</html>