---
layout: base
---

<div id="header" class="navbar-toggleable-md sticky  header-md clearfix">
{% include header_content.html %}
</div>

<!-- PAGE HEADER -->
<section class="page-header dark">
    <div class="container">
    
        <h1>{{ page.title }}</h1>

        <ul class="list-inline">
            <li>
                <i class="fa fa-clock-o"></i>
                <span class="font-lato">{{ page.date | date: "%b %-d, %Y" }}</span>
            </li>
            <li>
                <i class="fa fa-tags"></i>

                {% if page.tags %}
                    {% for tag in page.tags %}
                <span class="font-lato">{{ tag }}</span>
                    {% endfor %}
                {% else %}
                <a class="none" href="#">
                    <span class="font-lato">None</span>
                </a>
                {% endif %}
            </li>
        </ul>

    </div>
</section>
<!-- /PAGE HEADER -->

<section>
    <div class="container">

        {{ content }}

        <div class="divider divider-dotted"><!-- divider --></div>

        {% if page.tags %}
            {% for tag in page.tags %}
            <a class="tag" href="#">
                <span class="txt">{{ tag }}</span>
            </a>
            {% endfor %}
        {% endif %}

    </div>
</section>
